@import 'variables.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  display: flex;
  width: 1440px;
  height: 1000px;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.price-card {
  &__content {
    width: 380px;
    height: 770px;
    background-color: $color-block;
    display: flex;
    flex-direction: column;
    margin-right: 18px;
  }
}

.price-card:last-child {
  &__content {
    margin-right: 0px;
  }
}
