.btn {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 40px;
  height: 40px;
  width: 154px;
  border-radius: 20px;
  font-size: 14px;
  color: $white;
  line-height: 17px;
  background-color: $light-green;
}

.green {
  background-color: $light-green;
}
.blue {
  background-color: $light-blue;
}
.orange {
  background-color: $light-orange;
}
