.price-card {
  &__footer {
    display: flex;
  }

  &__order-btn {
    margin: auto;
    margin-top: 39px;
    margin-bottom: 40px;
    height: 40px;
    width: 154px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    color: $white;
    line-height: 17px;
  }
}
