.price-card {
  position: relative;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px 0px 33px 0px;
  }

  &__offer {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 105px solid $offer-triangle;
    border-left: 105px solid transparent;
  }

  &__triangle {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 65px solid $color-block;
    border-left: 65px solid transparent;
  }

  &__word {
    position: absolute;
    z-index: 1;
    top: -70px;
    right: 5px;
    color: white;
    transform: rotate(45deg);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__title {
    margin: 0;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    color: $white;
  }

  &__undertitle {
    font-size: 20px;
    line-height: 24px;
    color: $white;
  }
}
