@import 'variables.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  display: flex;
  width: 1400px;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: $background-color;
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: $color-block;
  display: flex;
  flex-direction: column;
}
// .price-card:first-child {
//   margin: 0;
// }
