@import 'variables.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
}
.page {
  display: flex;
  // margin: auto;
  width: 1400px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: $color-block;
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}
.price-card:last-child {
  margin-right: 0px;
}
