@import 'variables.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  width: 1400px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: $color-block;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
.price-card:first-child {
  margin-left: 0px;
}
