.price-card {
  &__main-block {
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    width: 100%;
    height: 105px;
    justify-content: center;
    align-items: center;
  }

  &__price-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    color: $white;
    text-align: center;
  }

  &__description {
    margin: 40px 26px 40px 26px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: $white;
    text-align: center;
  }
}

.option-list {
  &__list {
    margin: 0px;
    padding: 0px;
  }

  &__item {
    padding-top: 16px;
    padding-bottom: 16px;
    list-style: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $white;
  }

  &__item:nth-child(odd) {
    background-color: $dark-blue;
  }

  &__checkmark {
    margin: 0 22px;
  }
}
